* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: #ddd;
}

body.active {
    background-color: #000;
}

.container {
    background-image: linear-gradient(white, gray);
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    transition: background-color .9s;
}

.container.active { 
    background-image: linear-gradient(black, #000);
}

.contain {
    border: 1px solid #ddd;
    min-height: 80vh;
    overflow: hidden;
    /* margin: auto; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 40px; */
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #ddd6d7;
    transition: background-color .9s;
}

.contain.active {
    box-shadow: 0 0 10px 5px rgb(21, 20, 20);
}

.content {
    background-image: radial-gradient(gray, black);
    background-size: cover;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 10px 0;
    transition: background-color .9s;
    color: #ddd6d7;
}

.content.active {
    background-image: radial-gradient(white, gray);
    color: #000;
}

input[type="checkbox"] {
    appearance: none;
    outline: none;
    position: relative;
    width: 80px;
    height: 40px;
    background-color: black;
    background-size: cover;
    border-radius: 50px;
    transition: background-color .9s;
    box-shadow: 0 2px 5px 1px gray;
    box-shadow: inset 0 0 6px 9px rgb(46, 44, 44), 0px 0px 20px rgb(90, 90, 90);
    border: 2px solid black;
    cursor: pointer;
    color:rgb(203, 200, 200) ;
}

input[type="checkbox"]:before {
    content:"OFF";
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border-radius: 50%;
    position: absolute;
    top: 2.1px;
    left: 4px;
    transition: all .3s;
    background-color: rgb(38, 37, 37);
    border: 1px solid gray;
    filter: blur(1px);
    font-size: small;
    box-shadow: inset 0 0 10px 28px rgb(43, 42, 42), 0px 0px 20px rgb(120, 117, 117);
}

input[type="checkbox"]:checked {
    background-color: rgb(118, 117, 115);  
    filter: blur(1px); 
    border: 1px solid gray;
}

input[type="checkbox"]:checked:before {
    content: "ON";
    transform: translate(100%);
    background-color: #3e3c3c;
    box-shadow: inset 0 0 3px 2px rgb(47, 155, 47), 0px 0px  2px 0 rgb(23, 222, 56);
    /* opacity: 10; */
    outline: none;
    border: none;
    color: rgb(32, 250, 8);
}

.checkPlace {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}